@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black;
  }
}

.gold-gradient {
  background: linear-gradient(135deg, #bf953f 0%, #fcf6ba 40%, #b38728 60%, #fbf5b7 80%, #aa771c 100%);
}

.gold-text {
  background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}